<html>
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    	   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Change a Grade</title>
        <link href="gradebook.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="http://esis668.pythonanywhere.com/gradebook">Gradebook</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="http://esis668.pythonanywhere.com/logout">Logout</a>
            </li>
          </ul>
        </nav>

        <!-- Page title -->
        <div class="text-center" style="margin-bottom:0">
          <h1>Welcome to "THE" gradebook</h1>
          <p>Use this form to change a student's grade on an assignment.</p>
        </div>

        <br>
        <!-- Change Grade-->
        <div class="container">
            <form id="corners"  action="/changegrade" method="POST" style="width:40%">
                 <div class="form-group">
                    <label for="student_id">Student ID:</label>
                    <input class="form-control" id="student_id" name="student_id" placeholder="Enter student ID here">
                </div>
                 <div class="form-group">
                    <label for="assign">Assignment (Ex: a1):</label>
                    <input class="form-control" id="assign" name="assign" placeholder="Enter assignment number here">
                </div>
                <div class="form-group">
                    <label for="new_grade">Enter the new grade out of 100:</label>
                    <input class="form-control" id="new_grade" name="new_grade" placeholder="0">
                </div>

                <br>
                <div>
                <table class="table" id="student_table">
                <thead>
                    <tr>
                      <th scope="col" class="text-primary" onclick="sortTable(0)">Student ID</th>
                      <th scope="col" class="text-primary" onclick="sortTable(1)">First Name</th>
                      <th scope="col" class="text-primary" onclick="sortTable(2)">Last Name</th>
                      <th scope="col">a1</th>
                      <th scope="col">a2</th>
                      <th scope="col">a3</th>
                      <th scope="col">a4</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in gradebk %}
                      <tr>
                          <td>{{ student.s_id }}</td>
                          <td>{{ student.fname }}</td>
                          <td>{{ student.lname }}</td>
                          <td>{{ student.a1 }}</td>
                          <td>{{ student.a2 }}</td>
                          <td>{{ student.a3 }}</td>
                          <td>{{ student.a4 }}</td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>

                <button type="submit" class="btn btn-primary">Submit</button>

                <div>
                    <a class="btn btn-primary" href="{{ url_for('gradebook') }}" role="button">Return to Gradebook</a>
                </div>
            </form>
        </div>

    </body>
</html>